body {
    background-image: url("background.webp");
  }
h1{
    color: rgb(255, 255, 255);
    font-family: Georgia, serif;
    font-size: 55px;
    margin-left: 180px;
    text-shadow: 1px 1px;
    opacity: .8;
}
.upload{
    margin-left: 450px;
}
